$body-background: #2b333e;
$navbar-background: #262c34;

$body-font: 'Open Sans', sans-serif;
$body-font-size: 16px;
$body-color: #b2bece;

$nav-item-color: #7c8b9e;
$nav-item-active-background: #485361;
$nav-item-active-color: #ffffff;

$color-text-light: #d4dfec;
$color-red: #ea002c;
$color-green: #00d45f;
$color-blue: #509fff;
$color-deep-blue: #4d4df9;
$color-violet: #bd22ff;
$color-yellow: #fcff2d;
$color-orange: #ff9900;

$screen-res-desktop: 1088px;

$common-box-shadow: 0px 1px 10px #2a2d31;